/* ------------------------------------------------------------------------------
    React Tutorial Boilerplate
	Author: Matheus P. Silva
	Author URI: github.com/matheusps
	License: MIT
    Version: 1.0
-------------------------------------------------------------------------------- */

//Insert Global Styles
@import './FroalaSCSS/froala_blocks.scss';

//Import Your Styles